{% extends '_auth_base.html' %}
{% load field_wrappers %}
{% block title %}Reset Password Sent{% endblock title %}
{% block auth_header %}Email Sent{% endblock auth_header %}
{% block content %}
<div id="form-wrapper" class="w-100 text-center">
    <p class="text-lg font-bold mb-10">
        If your account exists, we've emailed you instructions.
    </p>
    <a href="{% url 'home' %}" class="w-full block border-2 text-1xl p-3 hover:cursor-pointer hover:bg-black hover:text-white transition">
        Back
    </a>    
</div>
{% endblock content %}