{% extends '_form_base.html' %}
{% load field_wrappers %}
{% block title %}Reset Password{% endblock title %}
{% block auth_header %}Reset Password{% endblock auth_header %}
{% block content %}
<div id="form-wrapper" class="w-full max-w-200 p-5 text-center">
    {% if token_fail %}
        <!-- Token Fail -->
        <p class="text-lg mb-10">
            This password reset link has expired.
        </p>
        <a href="{% url 'home' %}" class="w-full block border-2 text-1xl p-3 hover:cursor-pointer hover:bg-black hover:text-white transition">
            Back
        </a>
    {% else %}
        <!-- Token Active -->
        <form method="post">
            {% csrf_token %}
            {% include 'core/partials/form_errors.html' %}
            <div class="mb-5">
                {% field_wrapper form.password1 %}
                {% field_wrapper form.password2 %}
                <button type="submit" class="w-full block border-2 text-1xl p-3 hover:cursor-pointer hover:bg-black hover:text-white transition">
                    Change Password
                </button>
            </div>
        </form>
    {% endif %}
    <a href="{% url 'home' %}" class="block text-center text-sm mb-2 hover:underline transition">
        Back
    </a>    
</div>
{% endblock content %}