{% extends '_form_base.html' %}
{% load field_wrappers %}
{% block title %}Email Confirmation Sent{% endblock title %}
{% block auth_header %}Confirmation Sent{% endblock auth_header %}
{% block content %}
<div id="form-wrapper" class="w-full max-w-200 p-5 text-center">
    <p class="text-lg mb-10">
        Please check your inbox for a confirmation email.
    </p>
    <a href="{% url 'home' %}" class="w-full block border-2 text-1xl p-3 hover:cursor-pointer hover:bg-black hover:text-white transition">
        Back
    </a>    
</div>
{% endblock content %}
