{% extends '_base.html' %}
{% block title %}Home{% endblock title %}
{% load static %}
{% load template_helpers %}
{% block content %}
{% for brand in brands %}
<div class="h-dvh w-full bg-green p-10 lg:py-10 lg:px-20 mb-5 flex justify-end items-end text-[75px] lg:text-[200px] font-bold leading-[75px] lg:leading-[200px]">
    {{ brand }}
</div>
<div id="brand-wrapper-{{ brand.id }}" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 mb-5">
    {% for sneaker in brand.sneakers %}
    <div id="sneaker-wrapper-{{ sneaker.id }}" class="bg-gray">
        <a href="#">
            <img src="{{ sneaker.primary_image.url }}" alt="Photograph of {{ brand }} {{ sneaker.name }}">
            <div class="p-4">
                <p class="mb-2">{{ brand.name }}</p>
                <div class="flex justify-between items-center">
                    <p class="text-3xl font-bold uppercase">{{ sneaker.name }}</p>
                    <a href="#" class="bg-green p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" height="30px" width="30px" fill="currentColor">
                            <path d="M246.67-244 200-290.67l402.67-402.66H236V-760h480v480h-66.67v-366.67L246.67-244Z"/>
                        </svg>                
                    </a>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock content %}