{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New Project | {% block title %}{% endblock %}</title>
        <!-- Compiled Tailwind CSS -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
    <body class="h-screen flex flex-col">
        <main id="main-content" class="h-full p-3">
            {% block content %}
            {% endblock content %}
        </main>
    </body>    
</html>