{% load static %}
{% load template_helpers %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sneakerpedia | {% block title %}{% endblock %}</title>
        <!-- Tailwind CSS -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <!-- Alpine JS -->
        <script src="{% static 'js/alpine.min.js' %}" defer></script>
    </head>
    <body class="h-screen flex flex-col tracking-tight">
        {% include 'partials/main_nav.html' %}
        <main id="main-content">
            <div id="header-panel" class="lg:h-[calc(100dvh-97px)] w-full lg:flex lg:flex-row">
                <div id="sneaker-info-panel" class="w-[50%] h-[calc(100dvh-97px)] hidden xl:flex justify-center items-center bg-custom-green p-10 text-[120px] font-bold">
                    {% block auth_header %}
                    {% endblock auth_header %}
                </div>
                <div id="form-panel" class="w-full xl:w-[50%] h-[calc(100dvh-97px)] xl:h-full flex justify-center items-center">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>            
        </main>
        {% block scripts %}
        {% endblock scripts %}
    </body>    
</html>